/nanotube
.deploy
.vscode
.idea
cover.out
test/sender/sender
test/receiver/receiver

test/fuzz/corpus/*
!test/fuzz/corpus/seed
test/fuzz/crashers
test/fuzz/suppressions
test/fuzz/*.zip

test/test2/out
test/test2/in

.dockerignore
test/performance/roles/receiver/files/receiver
test/performance/roles/sender/files/sender
test/performance/roles/nanotube/files/nanotube
