.deploy
.vscode
.idea
cover.out

sender
test/sender/sender
receiver
test/receiver/receiver
nanotube

test/fuzz/corpus/*
!test/fuzz/corpus/seed
test/fuzz/crashers
test/fuzz/suppressions
test/fuzz/*.zip

test/test2/out
test/test2/in

.dockerignore
test/performance/roles/receiver/files/receiver
test/performance/roles/sender/files/sender
test/performance/roles/nanotube/files/nanotube
test/performance/hosts.yaml
test/performance/run-sender.sh
test/performance/setup.yaml
test/performance/roles/prometheus/files/prometheus
/local/config/clusters.toml
/local/config/config.toml
/local/config/rules.toml
