/nanotube
.deploy
.vscode
cover.out
test/sender/sender
test/receiver/receiver

test/fuzz/corpus/*
!test/fuzz/corpus/seed
test/fuzz/crashers
test/fuzz/suppressions
test/fuzz/*.zip

test/test2/out
test/test2/in

.dockerignore
