---
- hosts: sender
  gather_facts: no
  become: yes
  roles:
    - role: sender

- hosts: nanotube
  gather_facts: no
  become: yes
  roles:
    - role: nanotube
      receiver: {{ presetup_receiver_host }}
    - role: prometheus
      nanotube_host: {{ presetup_nanotube_host }}
      receiver_host: {{ presetup_receiver_host }}
      nanotube_prom_port: 9090
      receiver_prom_port: 9090

- hosts: receiver
  gather_facts: no
  become: yes
  roles:
    - role: receiver
