[Unit]
Description=Nanotube
After=network.target

[Service]
ExecStart={{ bin_location }} -config="{{ conf_path }}/config.toml"
LimitNOFILE=5000
User=nanotube
Group=nanotube

[Install]
WantedBy=multi-user.target
