[Unit]
Description=Receiver fro NT test
After=network.target

[Service]
ExecStart={{ bin_location }} -ports {{ ports }} -promPort {{ prom_port }} -profPort {{ pprof_port }}
LimitNOFILE=5000
User=nanotube
Group=nanotube

[Install]
WantedBy=multi-user.target
