global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: default
    static_configs:
      - targets:
          - {{ nanotube_host }}:{{ nanotube_prom_port }}
          - {{ receiver_host }}:{{ receiver_prom_port }}
