# Clusters config path. Mandatory.
ClustersConfig = "{{ conf_path }}/clusters.toml"
# Clusters config path. Mandatory.
RulesConfig = "{{ conf_path }}/rules.toml"

# The port to listen to for incoming connections.
ListenTCP = ":2003"

TCPOutBufSize=4096

# The default target port on receiver hosts. Can be overridden in the clusters setup.
TargetPort = 2008

# The size on main queue between listen and routing. Refer to docs for details.
MainQueueSize = 1000000
# Each host has it's own queue that contains records to be sent to it. This is the size of it.
# Refer to docs for more insight.
HostQueueSize = 10000
TCPOutConnectionRefreshPeriodSec = 40

# Profiling port
PprofPort = 6060

# Time between termination signal and forced termination of the process. This helps when graceful
# shutdown is stuck or slow.
TermTimeoutSec = 1

RateLimiterEnabled = true
RateLimiterWindowSizeSec = 10
RateLimiterGlobalRecordLimit = 19000000
RateLimiterPerReaderRecordThreshold = 1000
RateLimiterIntervalMs = 1000
RateLimiterRetryDurationMs = 100
